<mat-nav-list>
  <a *ngIf="!(loggedInUser)" mat-list-item routerLink="/login" (click)="close()">
    <mat-icon>login</mat-icon>
    <span>Bejelentkezés</span>
  </a>
  <a *ngIf="loggedInUser" mat-list-item routerLink="/login" (click)="close(true)">
    <mat-icon>logout</mat-icon>
    <span>Kijelentkezés</span>
  </a>
  <a mat-list-item routerLink="/signup" (click)="close()">
    <mat-icon>app_registration</mat-icon>
    <span>Regisztáció</span>
  </a>
  <a mat-list-item routerLink="/main" (click)="close()">
    <mat-icon>grid_view</mat-icon>
    <span>Főoldal</span>
  </a>
  <a mat-list-item routerLink="/search" (click)="close()">
    <mat-icon>search</mat-icon>
    <span>Keresés</span>
  </a>

</mat-nav-list>
